<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-square150x150logo" content="/assets/ms-icon-150x150.png">
    <meta name="msapplication-config" content="/assets/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#003380">
    <title>@ViewData["Title"] - RVLCS</title>

    <link rel="icon" sizes="192x192" href="/assets/favicon-192x192.png">
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/animate/animate.min.css" />
    @RenderSection("Head", required: false)
</head>
<body>    
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
